/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

.blocco {
  width: 100%;
  height: 100vh;
  border: 3px solid white;
  position: relative;
}

.blocco#firenze {
  background-image: url(../img/firenze.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.blocco#mosca {
  background-image: url(../img/mosca.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.blocco#bangkok {
  background-image: url(../img/Bangkok.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.blocco#new-york {
  background-image: url(../img/ny.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.blocco#lima {
  background-image: url(../img/Lima.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.blocco .nome{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
  text-shadow: 3px 3px rgba(0,0,0,0.6);
  color: white;
}

.layout {
  background-color: rgba(227, 157, 167, 0.3);
  width: 100%;
  height: 100%;
}
